/* START: BUSCADOR */
.buscador{
    background-color: red;
    margin-top: 0.5%;
}
.barra_search{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    background-color: rgb(240, 229, 229);
    width: 50%;
    height: 20px;
    font-size: 20px;
}

#buttom_search{
    cursor: pointer;
    height: 25px;
}
/* END: BUSCADOR */


/* START: CANCIONES */
.resultados{
    background-color: turquoise;
    border: solid 1.5px black;
    width: 95%;
    height: 120px;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 22px;
}

.resultados li {
    margin-left: 22px;
}

.resultados button {
    margin-left: 10px;
    cursor: pointer;
}

h2{
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 30px;
}

#play-btn,
#fav-btn,
#add-btn,
#trash-btn{
    display: none;
}

.contenedor1 {
    width: 50%;
    background-color: gray;
    border: solid 2px black;
}
/* END: CANCIONES */


/* START: REPRODUCCION */
.contenedor2{
    background-color: rgb(130, 159, 238);
    width: 100%;
    height: 90vh;  
}

.contenedor{
    display: flex;
    overflow: hidden;
}

.portada{
    height: 70%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.info{
    margin-top: -1.5%;
    height: 22%;
    background-color: rgb(43, 226, 153);
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bold;
    align-items: center;
}

.info p{
    margin-bottom: -0.9%;
    font-size: 15px;
}

.botones_reproduccion{
    height: 10%;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30%;
    margin-left: 30%;
}

#antes-btn,
#adel-btn,
#stop-btn,
#loud-btn,
#mute-btn{
    cursor: pointer;
}


/* END: REPRODUCCION */
